@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
@import './indexComponents/navbar.css';
@import './indexComponents/maincontent.css';
@import './indexComponents/contacts_icons.css';
@import './indexComponents/section_languages.css';
@import './indexComponents/footer.css';
@import './aboutComponents/main.css';
@import './aboutComponents/bio.css';
@import './projectsComponents/main.css';
@import './resume/resume.css';

body {
  background-color: black;
  color: white;
  font-family: 'Antic Didone', serif;
}

#nav {
  grid-area: nav;
}

#main {
  grid-area: main;
}

#section-languages {
  grid-area: section-icons;
}

#aside {
  grid-area: aside;
}

#footer {
  grid-area: footer;
}

#container {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'nav nav'
    'main main'
    'section-icons section-icons'
    'footer footer';
}

#aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  position: -webkit-sticky;
  position: fixed;
  right: 4.5em;
  top: 3em;
}

#icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#icons > p {
  margin-bottom: 0;
}

.symbol {
  font-size: 2.2em;
}

#nav {
  background: rgb(250, 4, 4);
  background: linear-gradient(
    0deg,
    rgba(250, 4, 4, 0) 0%,
    rgba(249, 4, 4, 0) 0%,
    rgba(154, 0, 0, 1) 77%,
    rgba(154, 0, 0, 1) 100%
  );
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

#nav > #ulnav {
  display: flex;
  flex: row;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
  margin: 2rem 0 2rem 0;
}

.aLinks {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.aLinks:hover {
  color: rgb(41, 187, 250);
}

@media only screen and (max-width: 970px) {
  #container {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'nav'
      'main'
      'section-icons'
      'aside'
      'footer';
  }

  #aside {
    display: block;
    position: static;
    margin-top: 0;
  }

  #icons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0;
  }

  #aside {
    display: flex;
  }

  #icons {
    display: flex;
    flex-direction: row;
  }

  #contact {
    margin: 0;
    font-size: medium;
  }

  .icons > a > i {
    font-size: 1rem;
  }
}
