@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import "./components/navbar.css";
@import "./components/maincontent.css";
@import "./components/contacts_icons.css";
@import "./components/section_languages.css";
@import "./components/footer.css";

body {
  background-color: black;
  color: white;
  font-family: "Mate SC", serif;
}

#nav {
  grid-area: nav;
}

#main {
  grid-area: main;
}

#section-icons {
  grid-area: section-icons;
}

#aside {
  grid-area: aside;
}

#footer {
  grid-area: footer;
}

#container {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto 50rem auto 4rem;
  grid-template-areas:
    "nav nav"
    "main aside"
    "section-icons section-icons"
    "footer footer";
  gap: 1rem;
}
