#main-picture > img {
  width: 100%;
}

#main-message {
  position: absolute;
  left: 20rem;
  top: 12rem;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  #main-message {
    font-size: medium;
    position: absolute;
    left: 11rem;
    top: 12rem;
    margin: 0;
  }

  p.index-introduction {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  #main-message {
    font-size: small;
    position: absolute;
    left: 5rem;
    top: 7rem;
    margin: 0;
  }

  p.index-introduction {
    font-size: large;
  }
}
