#nav {
  background: rgb(250, 4, 4);
  background: linear-gradient(
    0deg,
    rgba(250, 4, 4, 0) 0%,
    rgba(249, 4, 4, 0) 0%,
    rgba(154, 0, 0, 1) 77%,
    rgba(154, 0, 0, 1) 100%
  );
}
#nav > #ulnav {
  display: flex;
  flex: row;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
  margin: 2rem 0 2rem 0;
}

.aLinks {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.aLinks:hover {
  color: rgb(3, 241, 245);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #nav {
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }
  .aLinks {
    color: white;
    font-size: 1rem;
    text-decoration: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...}  */
