#nav {
  background: rgb(36, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(36, 0, 0, 0) 0%,
    rgba(255, 0, 0, 0) 2%,
    rgba(154, 0, 0, 1) 100%
  );
}
#nav > #ulnav {
  display: flex;
  flex: row;
  justify-content: space-around;
  list-style: none;
  margin: 2rem;
}

.aLinks {
  color: white;

  font-size: 1.5rem;
  text-decoration: none;
}

.aLinks:hover {
  color: rgb(3, 241, 245);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #nav {
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }
  .aLinks {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...}  */
