#section-languages {
  font-size: 1.7rem;
  text-align: center;
}

.description ul li {
  text-align: start;
}

.index-introduction {
  font-size: 2.4rem;
  border-top: 3px solid red;
  border-radius: 4px;
  width: fit-content;
  border-bottom: 3px solid red;
  padding: 1rem;
  margin: 1em auto;
  font-family: 'Allura';
}

#typed2 {
  font-size: 1.5rem;
  font-family: 'Mate SC', serif;
}

.programming_icons > img {
  width: 77px;
  height: 77px;
}

.programming_icons {
  transition: all 0.2s ease-in-out;
}

.programming_icons:hover {
  transform: scale(1.3);
}

.progra_icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

img.icon {
  background-color: aliceblue;
  color: white;
  border-radius: 7px;
  padding: 10px;
  border: crimson 1.5px solid;
}

.language-name {
  font-size: 0.55em;
}

@media only screen and (max-width: 1055px) {
  #main-message {
    margin: 0;
  }

  #main-message > .typed-cursor {
    font-size: 0.6em;
  }

  .typed-cursor {
    font-size: 0.7em;
  }

  .index-hr {
    width: 90%;
  }

  #typed,
  #typed2 {
    font-size: 0.8em;
  }

  .index-introduction {
    margin-top: 0;
    font-size: 1.4em;
    font-weight: bold;
    width: 80%;
  }

  #section-languages {
    width: 85%;
    margin: auto;
  }

  .progra_icons {
    justify-content: space-between;
  }

  .programming_icons > img {
    width: 40px;
    height: 40px;
  }

  .language-name {
    font-size: x-small;
  }
}
