.personal-picture {
  display: flex;
  justify-content: flex-end;
}

.personal-picture2 {
  display: flex;
  justify-content: center;
}

.personal-picture > img {
  width: 70%;
}

.personal-picture2 > img {
  margin-top: 1rem;
  width: 75%;
}

.bio > p {
  text-align: left;
  width: 70%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  #section-languages {
    width: 80%;
    margin-top: 2rem;
  }
  .personal-picture {
    display: flex;
    justify-content: center;
    height: 9rem;
  }

  .personal-picture2 > img {
    width: 90%;
    height: 9rem;
    margin-bottom: 2rem;
  }

  .personal-picture > img {
    width: 80%;
    height: 11rem;
  }

  .bio > p {
    width: 100%;
  }
}
