.personal-picture {
  display: flex;
  justify-content: center;
}

.personal-picture > img {
  width: 72%;
  border-radius: 12px;
  border: solid rgb(247, 242, 242) 0.5px;
}

.bio > p {
  text-align: left;
  width: 85%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1055px) {
  #main {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }

  .personal-picture {
    width: 85%;
  }

  .personal-picture > img {
    width: 100%;
    margin-top: 1em;
  }

  #section-languages.bio > p {
    width: 100%;
    font-size: 0.9em !important;
  }
}
