#main {
  display: flex;
  flex-direction: column;
}

#section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section1 #name {
  color: red;
}

#downloadResume {
  margin: 2em auto;
  border: 1px solid rgb(255, 255, 255);
  width: fit-content;
  padding: 7px;
  cursor: pointer;
}

#downloadResume > a {
  text-decoration: none;
}

#downloadResume:hover {
  background-color: red;
  color: white;
}

#downloadResume > a:hover {
  color: white;
}

.icons > a > i {
  font-size: 1.5rem;
  color: white;
  background-color: red;
  padding: 0.5rem;
  border-radius: 4px;
}

.icons > a > i:hover {
  color: rgb(22, 155, 208);
  background-color: white;
}

@media only screen and (max-width: 1055px) {
  #main {
    height: fit-content !important;
    margin-bottom: 2em;
  }

  #downloadResume {
    font-size: small;
  }
}
