#main {
  display: flex;
  flex-direction: column;
}

#downloadResume {
  margin: 2em auto;
  border: 1px solid rgb(255, 255, 255);
  width: fit-content;
  padding: 7px;
  cursor: pointer;
}

#downloadResume > a {
  text-decoration: none;
}

#downloadResume:hover {
  background-color: red;
  color: white;
}

#downloadResume > a:hover {
  color: white;
}

#section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section1 #name {
  font-size: 1.7em;
  margin: 0;
}

#section1 #title {
  font-size: 2.5em;
  margin: 0;
  background: linear-gradient(90deg, red, white, red);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

#section1 h4 {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  padding: 1em 0;
}

#section1 .summary {
  text-align: center;
  margin: 0 0 1.5em 0;
}

#section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-titles {
  font-size: 1.4em;
  letter-spacing: 1px;
  color: red;
  margin: 1em 0 0 0;
  font-weight: 900;
  text-align: center;
}

.areas-of-expertise {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.areas-of-expertise > ul {
  list-style: square;
}

.areas-of-expertise > ul > li {
  margin: 0.5em 0;
}

#section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1em;
}

.list-underline {
  width: 6em;
  padding: 1.5px;
  background-color: red;
}

#skills > div > h3 {
  margin: 0 0 0.5em 0;
}

#section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.job-description {
  width: 100%;
}

.ul-container ul,
#section5 ul {
  margin-left: 2em;
  list-style: square;
}

.jobs h4 {
  margin-bottom: 4px;
  text-align: center;
}

.job-title {
  margin: 0;
  text-align: center;
}

#section5 {
  width: 80%;
  margin: auto;
}

#section1,
#section2,
#section3,
#section4,
#section5 {
  width: 73%;
  padding: 0 2em;
  margin: auto;
}

.bachelor {
  display: flex;
}

#bachelor-title {
  margin-right: 4px;
  border-bottom: 2px solid red;
  padding-bottom: 3px;
}

@media only screen and (max-width: 1055px) {
  #main {
    height: fit-content !important;
    margin-bottom: 2em;
  }

  #downloadResume {
    font-size: small;
  }

  #section1 h4 {
    text-align: center;
  }

  .areas-of-expertise > ul > li,
  .ul-container ul li,
  #section5 ul li {
    font-size: 1em;
  }

  .bachelor {
    padding-bottom: 0;
  }

  #section1,
  #section2,
  #section3,
  #section4,
  #section5 {
    width: 90%;
  }
}

@media only screen and (max-width: 920px) {
  .bachelor {
    flex-direction: column;
  }

  #bachelor-title {
    width: fit-content;
    margin-bottom: 0;
  }

  .bachelor p {
    margin: 4px 0 0 0;
  }
}

@media only screen and (max-width: 780px) {
  .areas-of-expertise {
    flex-direction: column;
  }

  #skills > div {
    width: 50%;
  }

  #section1,
  #section2,
  #section3,
  #section4,
  #section5 {
    width: 78%;
  }

  .right-side-skill {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .skill-bottom {
    margin-top: 2em;
  }
}

@media only screen and (max-width: 447px) {
  #section1 #title {
    font-size: 1.8em;
  }

  #section1 #name {
    font-size: 1.3em;
  }

  .jobs h4 {
    margin-top: 0;
  }

  .section-titles {
    font-size: 1.2em;
  }

  .ul-container ul,
  #section5 ul {
    margin-left: 0;
  }

  .areas-of-expertise > ul > li,
  .ul-container ul li,
  #section5 ul li {
    font-size: 0.9em;
  }
}
