.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.videoDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.domain {
  margin: 1rem 0;
}

.domain a {
  color: red;
}

.github {
  margin: 0;
}

.lists h4 {
  text-align: start;
}

.bar {
  width: 70%;
  border: 1px red solid;
  background-color: red;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
ul li {
  text-align: start;
}

a {
  color: white;
}
a:hover {
  color: red;
}

@media only screen and (max-width: 600px) {
  .projects {
    align-items: center;
  }

  .description {
    font-size: xsmall;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .description h4 {
    text-align: start;
  }

  ul li {
    font-size: xx-small;
  }

  video#video1 {
    width: 90%;
    margin: 1rem;
  }

  video#video2 {
    width: 97%;
  }
  video#video3 {
    width: 97%;
  }

  video#video4 {
    width: 97%;
  }

  video#video5 {
    width: 97%;
  }
}

@media only screen and (max-width: 1024px) {
  .projects {
    align-items: flex-end;
    height: 100%;
  }

  /* .description {
    font-size: xsmall;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  } */

  /* .description h4 {
    text-align: start;
  } */

  /* ul li {
    font-size: xx-small;
  } */

  #video1 {
    width: 80%;
    height: 100%;
    margin-top: 1rem;
  }

  #video2,
  #video3,
  #video4,
  #video5 {
    width: 70%;
  }
}
