.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.videoDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.domain {
  margin: 0;
}

.github {
  margin: 0;
}

#bar {
  width: 70%;

  border: 1px red solid;
  background-color: red;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
ul li {
  text-align: start;
}

a {
  color: white;
}
a:hover {
  color: red;
}

@media only screen and (max-width: 600px) {
  .projects {
    align-items: center;
  }

  .description {
    font-size: xsmall;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .description h4 {
    text-align: start;
  }

  ul li {
    font-size: xx-small;
  }

  #video {
    width: 100%;
    margin: 1rem;
  }
}
